@use "@material/theme" with (
  $primary: #8d6e63,
  // $secondary: #76ff03,
  $background: #fff,
  $on-primary: #fff
);

// Button
@use "@material/button/styles";

// TopAppBar
@use "@material/top-app-bar";
@use "@material/top-app-bar/mdc-top-app-bar";

// TextField
@use "@material/floating-label/mdc-floating-label";
@use "@material/textfield";

// select
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles" as select-styles;

// Tab bar
@use "@material/tab-bar/mdc-tab-bar";
@use "@material/tab-scroller/mdc-tab-scroller";
@use "@material/tab-indicator/mdc-tab-indicator";
@use "@material/tab/mdc-tab";

@include textfield.core-styles;
